.map {
    height: 400px;
    width: 100%;
    margin-top: 30px;
    border: 2px;
    border-color: aqua;
    border-radius: 5px 5px 5px 5px;
  }
*{
    box-sizing: border-box;
}  

body{
    margin: 0;
    padding: 0px;
}
.grid-container{
    display:grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}
.sidebar{
    margin-left: 15px;
    width: 517px;
}
  
.options input[type="number"] {
    width:5em;
}

.options input[type="range"] {
    vertical-align: middle;
}
  
.ol-zoom {
    top: 0.5em;
    left: 0.5em;
    width: 31px;
}  

.ol-control.ol-layerswitcher {
  width: 2em;
}

#x {
  display: none;
}

#y {
  display: none;
}

.options input[type="number"] {
  margin-bottom: 1%;
}

canvas {
  transform: inherit !important;
}